ul li{
  list-style: none;
}
#web{
  width: 100%;
  height: 50px;
  background-color: lightblue;
}
header{
  background-color: black;
  width: 100%;
  height: 80px;
}
.headWrap{
  width: 960px;
  height: 100%;
  overflow: hidden;
  margin: 0 auto;
  position: relative;
}
.logo{
  height: 50px;
  font-size: 30px;
  line-height: 80px;
  color: #fff;
  position: absolute;
  top: 0px;
  left: 0px;
}
.headWrap nav {
  position: absolute;
  top: 10px;
  right: 0;
}
.Hlist{
  overflow: hidden;
}
.Hlist li{
  float: left;
  margin-left: 10px;
}
.Hlist li a{
  color: #ffffff;
}
.banner{
  width: 100%;
  height: 300px;
  background-color: yellowgreen;
  position: relative;
}
.Blist{
  position: absolute;
  bottom: 30px;
  right: 150px;
  display: flex;
  height: 40px;
  align-items: flex-end;
}
.Blist li{
  margin-right: 15px;
  line-height: 30px;
  height: 30px;
  width: 25px;
  background-color: #fff;
  opacity: 0.6;
  text-align: center;
  /*vertical-align: text-bottom;*/
}
.Blist .Bactive{
  height: 35px;
  line-height: 40px;
  opacity: 0.8;
}
.navWrap{
  width: 960px;
  margin: 0 auto;
  height: 60px;

  box-sizing: content-box;
}
.Nlist li{
  padding: 15px;

  line-height: 29px;
  box-sizing: border-box;
  float: left;
  border-radius: 20px 20px 0 0;
  background-color: lightgray;
  border: 1px solid gray;

}
.oneNav{
  margin-top: 20px;
  border-bottom: 1px solid gray;
}
.Nlist li a {
  color: #343434;
}
.content{
  margin: 10px auto;
  width: 970px;


}
.Nlist .active{
  background-color: white;
  border-bottom: 1px solid white;
  opacity: 1;
}
.content article{
  display: flex;
}
.content article div{
  padding: 80px;
  display: flex;
  flex: 1 ;
  border: 1px solid lightgray;
  margin: 5px;
  /*flex-basis: 1px;*/


}
footer{
  background-color: black;
  text-align: center;
  width: 100%;
  height: 80px;
  line-height: 73px;
  color: white;
}